<div class="ui centered cards">
  {{#each swimmingteams}}
    <div class="ui card">
      <div class="image">
        <img src="{{picture}}">
      </div>
      <div class="content">
        <a class="header">{{title}} - {{calcTotal swimmers}} golds</a>
      </div>
      <div class="metadata">
    <span class="date">Created: {{formatDate date}}</span>
    </div>

      <div class="extra content">
        <a href="/swimmingTeam/{{id}}" class="ui icon button">
          <i class="icon folder open"></i>
        </a>
        <a href="/dashboard/deleteswimmingteam/{{id}}" class="ui icon button delswimmingteam">
          <i class="icon trash"></i>
        </a>
      </div>
    </div>
  {{/each}}
</div>
